# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Python virtual environment
venv/
env/
.env/